fastapi==0.115.5
uvicorn==0.32.1
langgraph==0.2.53
langchain-core==0.3.21
langchain-groq==0.2.1
langchain-openai==0.2.10
e2b-code-interpreter==1.0.3
python-dotenv==1.0.1
pydantic==2.10.2
langgraph-checkpoint==2.1.2
langgraph-checkpoint-postgres==2.0.25
psycopg[binary]==3.3.5
psycopg-pool==3.3.1